# 🚀 Framework web para APIs rápidas e modernas
fastapi==0.110.0

# 🔥 Servidor ASGI para rodar FastAPI
uvicorn==0.29.0

# 🧠 OCR com Tesseract
pytesseract==0.3.10

# 🖼️ Manipulação de imagens
Pillow==10.2.0

# 📄 Leitura de PDFs e conversão em imagem
PyMuPDF==1.23.26

# 📊 Manipulação de dados e exportação para Excel
pandas==2.3.3

# 📁 Exportação para arquivos Excel (.xlsx)
openpyxl==3.1.2

python-multipart